.content{
    display: flex;
    justify-content: space-around;
}
.settings{
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 10px;
}
.banner{
    width: 55%;
    align-self: center;
    padding-top: 20px;
}
.settings_select{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
@media (max-width:800px){
    .content{
        display: flex;
        flex-direction: column-reverse;
       align-items: center;
    }
    .settings{
        width: 85%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .banner{
        width: 85%;
        padding-top: 20px;
    }
}